.name{
    width: 280px;
    font-size: 15px;
}
.email{
    width: 280px;
    font-size: 15px;
    margin-bottom: 8px;
}
.mobile{
    width: 280px;
    font-size: 15px;
    margin-bottom: 10px;
}
label{
    font-size: 17px;
}
.catagory{
    font-size: 15px;
    margin-right: 120px;
    margin-bottom: 8px;
}
.catagory select{
    margin-left: 10px;
}
.gender{
 display: inline-flex;
 width: 220px;
 justify-content: space-around;

}
.technology input{
   
 margin-left: 10px;
}
.technology .tech-label{
    margin-left:60px;
    margin-bottom: 8px;
}
.profile{
   margin-right: 5px;
   margin-bottom: 8px;
}
.btn{
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;

}
.error{
    color:red;
    font-size: 13px;
    margin-bottom: 8px;
}
body{
    background-image:
    url('https://cutewallpaper.org/21/white-background-gif/Interactive-Background-by-Denys-Loveiko-on-Dribbble.gif');
    height:"100vh";
    background-repeat: no-repeat;
   background-size: cover;
    background-position: "center";
}
.container{
    margin-top: 1%;
    width: 35%;
    height: 550px;
   /* border:2px solid rgba(201, 182, 198, 0.178); */
   background-color: rgba(214, 190, 217, 0.349);
   border-radius: 20px;
}
.header{
    color: rgb(225, 60, 214);
    font-size: 25px;
    margin-top: 5px;
}

@media (max-width:400px){
    .container{
        width: 100%;
        height: 700px;
    }
    .technology .tech-label{
        margin-left:10px;
        margin-bottom: 8px;
    }
}